.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    border-top: 1px solid #eee;
}

.footer span {
    vertical-align: top;
}

.component-container {
    padding: 50px
}